<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JSLint</string>
	<key>ordering</key>
	<array>
		<string>8A1C3343-E5AB-40DE-8EB4-A07783B2E658</string>
		<string>9CF0311D-2E16-409C-9850-AC36247A94CF</string>
	</array>
	<key>uuid</key>
	<string>84A0E749-A64D-4918-9A93-7AD3BC8AD58A</string>
</dict>
</plist>
